block body 

    section.intro
        .container 
            .row 
                .col-xl-8.col-lg-8.col-md-8.col-12.pl-0
                    .owl-carousel.owl-theme.intro_slider
                        .item
                            picture 
                                source(media="(max-width:575.98px)" srcset="./src/images/slider-main-sm.jpg")
                                source(media="(max-width:767.98px)" srcset="./src/images/slider-main-md.jpg")
                                img(src="./src/images/slider-main-xl.jpg" alt="")

                        .item
                            picture 
                                source(media="(max-width:575.98px)" srcset="./src/images/slider-main-sm.jpg")
                                source(media="(max-width:767.98px)" srcset="./src/images/slider-main-md.jpg")
                                img(src="./src/images/slider-main-xl.jpg" alt="")


                        .item
                            picture 
                                source(media="(max-width:575.98px)" srcset="./src/images/slider-main-sm.jpg")
                                source(media="(max-width:767.98px)" srcset="./src/images/slider-main-md.jpg")
                                img(src="./src/images/slider-main-xl.jpg" alt="")



                .col-xl-4.col-lg-4.col-md-4.col-12.px-0 
                    section.row.item-2
                        .col-xl-12.col-lg-12.col-md-12.col-6
                            a(href="javascript:void(0)")
                                picture
                                    source(media="(max-width:992px)" srcset="")
                                    img(src="./src/images/item1_slider_xl.jpg" alt="")     


                        .col-xl-12.col-lg-12.col-md-12.col-6
                            a(href="javascript:void(0)")
                                picture
                                    source(media="(max-width:992px)" srcset="")
                                    img(src="./src/images/item2_slider_xl.jpg" alt="")    



    //- title why-us(2)
    .title 
        h2.titles چرا فرش قرمز؟
    //- section-two(2)
    section.why-us
        .container-fluid 
            .row 
                .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-6
                    .box_item.active
                        .box_icon
                            img(src="./src/images/shipped_2.png" alt="")
                        .box_content    
                            .box
                                h3.title با هر خرید یک 
                                    span.gold ارسال رایگان
                            p.discription.d-none.d-md-block با هرخرید آنلاین / حضوری ارسال رایگان  از فروشگاه فرش قرمز هدیه بگیرید
                .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-6
                    .box_item_2
                        .box_icon_2
                            img(src="./src/images/badge_2.png" alt="")
                        .box_content 
                            .box
                                h3.title تضمین 
                                    span.gold کیفیت
                                h3.title مطمئن



                            p.discription.d-none.d-md-block ارائه ضمانت نامه کتبی بی قید و شرط برای تمامی مشتریان فروشگاه فرش قرمز
                .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-6
                    .box_item.active
                        .box_icon
                            img(src="./src/images/replacement_2.png" alt="")
                        .box_content 
                            .box
                                h3.title ضمانت 
                                    span.gold تعویض
                                h3.title یکساله
                            p.discription.d-none.d-md-block امکان مرجوع کالا در صورت هرگونه نارضایتی و پرداخت خسارت به مشتریان
                .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-6
                    .box_item_2
                        .box_icon_2
                            img(src="./src/images/24-hours.png" alt="")
                        .box_content 
                            .box
                                h3.title پشتیبانی
                                    span.gold  24/7 
                                h3.title  شبانه روزی
                            p.discription.d-none.d-md-block پیگیری مشکلات شما در هر لحظه از شبانه روز توسط کارشناسان بصورت انلاین


    //-  title_product_category(3)
    .title_cat 
        h2.titles_cat دسته بندی محصولات
    //- product_category// section_three(3)
    section.newest_product
        .container-fluid
            .Box_Style
                .row 
                    .col-12
                        .owl-carousel.owl-theme.newset_slider 
                            .item   
                                figure.box_item
                                    a(href="javascript:void;")
                                        img(src="./src/images/img-blog.jpg" loading="lazy" alt="item" style="width: 100%;")
                                        figcaption 
                                            p.title_product فرش با تراکم 1200 شانه
                                            //- .tag_name 
                                                p.tag 700 شانه 
                                                p.tag ریز نقش
                                                p.tag سفارشی 
                                            //- button.btn.read_product(href="javascript:void;") مشاهده دسته بندی

                                    //- .discount 
                                        p.offer 50%
                            .item   
                                figure.box_item
                                    a(href="javascript:void;")
                                        img(src="./src/images/img-blog.jpg" width='' height='' alt="item" style="width: 100%;")
                                        figcaption 
                                            p.title_product فرش با تراکم 1000 شانه
                                            //- .tag_name 
                                                p.tag 700 شانه 
                                                p.tag ریز نقش
                                                p.tag سفارشی 
                                            //- button.btn.read_product(href="javascript:void;") مشاهده دسته بندی

                                    //- .discount 
                                        p.offer 50%
                            .item   
                                figure.box_item
                                    a(href="javascript:void;")
                                        img(src="./src/images/img-blog.jpg" width='' height='' alt="item" style="width: 100%;")
                                        figcaption 
                                            p.title_product فرش با تراکم 700 شانه
                                            //- .tag_name 
                                                p.tag 700 شانه 
                                                p.tag ریز نقش
                                                p.tag سفارشی 
                                            //- button.btn.read_product(href="javascript:void;") مشاهده دسته بندی

                                    //- .discount 
                                        p.offer 50%
                            .item   
                                figure.box_item
                                    a(href="javascript:void;")
                                        img(src="./src/images/img-blog.jpg" width='' height='' alt="item" style="width: 100%;")
                                        figcaption 
                                            p.title_product پادری و قالیچه
                                            //- .tag_name 
                                                p.tag 700 شانه 
                                                p.tag ریز نقش
                                                p.tag سفارشی 
                                            //- button.btn.read_product(href="javascript:void;") مشاهده دسته بندی

                                    //- .discount 
                                        p.offer 50%
                            .item   
                                figure.box_item
                                    a(href="javascript:void;")
                                        img(src="./src/images/img-blog.jpg" width='' height='' alt="item" style="width: 100%;")
                                        figcaption 
                                            p.title_product گلیم و زیر انداز
                                            //- .tag_name 
                                                p.tag 700 شانه 
                                                p.tag ریز نقش
                                                p.tag سفارشی 
                                            //- button.btn.read_product(href="javascript:void;") مشاهده دسته بندی

                                    //- .discount 
                                        p.offer 50%
                            .item   
                                figure.box_item
                                    a(href="javascript:void;")
                                        img(src="./src/images/img-blog.jpg" width='' height='' alt="item" style="width: 100%;")
                                        figcaption 
                                            p.title_product گلیم و زیر انداز
                                            //- .tag_name 
                                                p.tag 700 شانه 
                                                p.tag ریز نقش
                                                p.tag سفارشی 
                                            //- button.btn.read_product(href="javascript:void;") مشاهده دسته بندی

                                    //- .discount 
                                        p.offer 50%

                        .Blue_Box


    //- newest_product  // section_four(4)
    section.product_category
        .container-fluid.px-0  
            .row 
                .col-xl-4.order-1 
                    .intro_section
                        .title_category 
                            h2.title جدیدترین  
                                span.gold 
                                p محصولات
                        p.discription  ضمانت ۵ ساله کیفیت کالا و امکان تعویض فرش تا یک سال بعد از خرید، امکان ویژه فرش قرمز برای راحتی خیال شماست. هیچ چیز بهتر از آن نیست که شما باخیال راحت و آسوده یک خرید ایمن و سودمند انجام بدهید
                        a.btn.read_more(href="javascript:void;") مشاهده محصولات 
                            i.fi-rs-angle-small-left
                .col-xl-8.pl-0.order-2 
                    .box_slider
                        .owl-carousel.owl-theme.category_slider
                            .item   
                                figure.box_item
                                    a(href="javascript:void;")
                                        img(src="./src/images/carpet-model.png" alt="item" style="width: 170px;")
                                        figcaption 
                                            p.title_product پادری 700 شانه گلبه ای
                                            .tag_name 
                                                p.tag 700 شانه 
                                                p.tag ریز نقش
                                                p.tag سفارشی 
                                            p.price 2,750,000 تومان
                                            button.btn.read_product(href="javascript:void;") مشاهده محصول

                                    .discount 
                                        p.offer 50%

                            .item   
                                figure.box_item
                                    a(href="javascript:void;")
                                        img(src="./src/images/carpet-model.png" alt="item" style="width: 170px;")
                                        figcaption 
                                            p.title_product پادری 700 شانه گلبه ای
                                            .tag_name 
                                                p.tag 700 شانه 
                                                p.tag ریز نقش
                                                p.tag سفارشی 
                                            p.price 2,750,000 تومان
                                            button.btn.read_product(href="javascript:void;") مشاهده محصول

                                    .discount 
                                        p.offer 50%

                            .item   
                                figure.box_item
                                    a(href="javascript:void;")
                                        img(src="./src/images/carpet-model.png" alt="item" style="width: 170px;")
                                        figcaption 
                                            p.title_product پادری 700 شانه گلبه ای
                                            .tag_name 
                                                p.tag 700 شانه 
                                                p.tag ریز نقش
                                                p.tag سفارشی 
                                            p.price 2,750,000 تومان
                                            button.btn.read_product(href="javascript:void;") مشاهده محصول

                                    .discount 
                                        p.offer 50%

                            .item   
                                figure.box_item
                                    a(href="javascript:void;")
                                        img(src="./src/images/carpet-model.png" alt="item" style="width: 170px;")
                                        figcaption 
                                            p.title_product پادری 700 شانه گلبه ای
                                            .tag_name 
                                                p.tag 700 شانه 
                                                p.tag ریز نقش
                                                p.tag سفارشی 
                                            p.price 2,750,000 تومان
                                            button.btn.read_product(href="javascript:void;") مشاهده محصول

                                    .discount 
                                        p.offer 50%

                            .item   
                                figure.box_item
                                    a(href="javascript:void;")
                                        img(src="./src/images/carpet-model.png" alt="item" style="width: 170px;")
                                        figcaption 
                                            p.title_product پادری 700 شانه گلبه ای
                                            .tag_name 
                                                p.tag 700 شانه 
                                                p.tag ریز نقش
                                                p.tag سفارشی 
                                            p.price 2,750,000 تومان
                                            button.btn.read_product(href="javascript:void;") مشاهده محصول

                                    .discount 
                                        p.offer 50%


    //- most_selected  // section_five(5)
    section.most_selected
        .container-fluid.px-0 
            .row 
                .col-xl-8.p-0.order-xl-1.order-lg-2.order-md-2.order-2
                    .box_slider
                        .owl-carousel.owl-theme.category_slider
                            .item   
                                figure.box_item
                                    a(href="javascript:void;")
                                        img(src="./src/images/carpet-model.png" alt="item" style="width: 170px;")
                                        figcaption 
                                            p.title_product پادری 700 شانه گلبه ای
                                            .tag_name 
                                                p.tag 700 شانه 
                                                p.tag ریز نقش
                                                p.tag سفارشی 
                                            p.price 2,750,000 تومان
                                            button.btn.read_product(href="javascript:void;") مشاهده محصول

                                    .discount 
                                        p.offer 50%

                            .item   
                                figure.box_item
                                    a(href="javascript:void;")
                                        img(src="./src/images/carpet-model.png" alt="item" style="width: 170px;")
                                        figcaption 
                                            p.title_product پادری 700 شانه گلبه ای
                                            .tag_name 
                                                p.tag 700 شانه 
                                                p.tag ریز نقش
                                                p.tag سفارشی 
                                            p.price 2,750,000 تومان
                                            button.btn.read_product(href="javascript:void;") مشاهده محصول

                                    .discount 
                                        p.offer 50%

                            .item   
                                figure.box_item
                                    a(href="javascript:void;")
                                        img(src="./src/images/carpet-model.png" alt="item" style="width: 170px;")
                                        figcaption 
                                            p.title_product پادری 700 شانه گلبه ای
                                            .tag_name 
                                                p.tag 700 شانه 
                                                p.tag ریز نقش
                                                p.tag سفارشی 
                                            p.price 2,750,000 تومان
                                            button.btn.read_product(href="javascript:void;") مشاهده محصول

                                    .discount 
                                        p.offer 50%

                            .item   
                                figure.box_item
                                    a(href="javascript:void;")
                                        img(src="./src/images/carpet-model.png" alt="item" style="width: 170px;")
                                        figcaption 
                                            p.title_product پادری 700 شانه گلبه ای
                                            .tag_name 
                                                p.tag 700 شانه 
                                                p.tag ریز نقش
                                                p.tag سفارشی 
                                            p.price 2,750,000 تومان
                                            button.btn.read_product(href="javascript:void;") مشاهده محصول

                                    .discount 
                                        p.offer 50%

                            .item   
                                figure.box_item
                                    a(href="javascript:void;")
                                        img(src="./src/images/carpet-model.png" alt="item" style="width: 170px;")
                                        figcaption 
                                            p.title_product پادری 700 شانه گلبه ای
                                            .tag_name 
                                                p.tag 700 شانه 
                                                p.tag ریز نقش
                                                p.tag سفارشی 
                                            p.price 2,750,000 تومان
                                            button.btn.read_product(href="javascript:void;") مشاهده محصول

                                    .discount 
                                        p.offer 50%
                .col-xl-4.order-xl-2.order-lg-1.order-md-1.order-1 
                    .intro_section
                        .title_category 
                            h2.title پرفروش ترین 
                                span.gold 
                                p محصولات
                        p.discription  ضمانت ۵ ساله کیفیت کالا و امکان تعویض فرش تا یک سال بعد از خرید، امکان ویژه فرش قرمز برای راحتی خیال شماست. هیچ چیز بهتر از آن نیست که شما باخیال راحت و آسوده یک خرید ایمن و سودمند انجام بدهید
                        a.btn.read_more(href="javascript:void;") مشاهده محصولات 
                            i.fi-rs-angle-small-left


    //- title_most_selected_product(5)
    //- .title 
    //-     h2.titles پرفروش ترین ها محصولات

    //- most_selected // section_five(5)
    //- section.newest_product
    //-     .container
    //-         .Box_Style
    //-             .row 
    //-                 .col-12
    //-                     .owl-carousel.owl-theme.newset_slider 
    //-                         .item   
    //-                             figure.box_item
    //-                                 a(href="javascript:void;")
    //-                                     img(src="./src/images/carpet-model.png" alt="item" style="width: 170px;")
    //-                                     figcaption 
    //-                                         p.title_product پادری 700 شانه گلبه ای
    //-                                         .tag_name 
    //-                                             p.tag 700 شانه 
    //-                                             p.tag ریز نقش
    //-                                             p.tag سفارشی 
    //-                                         p.price 2,750,000 تومان
    //-                                         button.btn.read_product(href="javascript:void;") مشاهده محصول

    //-                                 .discount 
    //-                                     p.offer 50%
    //-                         .item   
    //-                             figure.box_item
    //-                                 a(href="javascript:void;")
    //-                                     img(src="./src/images/carpet-model.png" alt="item" style="width: 170px;")
    //-                                     figcaption 
    //-                                         p.title_product پادری 700 شانه گلبه ای
    //-                                         .tag_name 
    //-                                             p.tag 700 شانه 
    //-                                             p.tag ریز نقش
    //-                                             p.tag سفارشی 
    //-                                         p.price 2,750,000 تومان
    //-                                         button.btn.read_product(href="javascript:void;") مشاهده محصول

    //-                                 .discount 
    //-                                     p.offer 50%
    //-                         .item   
    //-                             figure.box_item
    //-                                 a(href="javascript:void;")
    //-                                     img(src="./src/images/carpet-model.png" alt="item" style="width: 170px;")
    //-                                     figcaption 
    //-                                         p.title_product پادری 700 شانه گلبه ای
    //-                                         .tag_name 
    //-                                             p.tag 700 شانه 
    //-                                             p.tag ریز نقش
    //-                                             p.tag سفارشی 
    //-                                         p.price 2,750,000 تومان
    //-                                         button.btn.read_product(href="javascript:void;") مشاهده محصول

    //-                                 .discount 
    //-                                     p.offer 50%
    //-                         .item   
    //-                             figure.box_item
    //-                                 a(href="javascript:void;")
    //-                                     img(src="./src/images/carpet-model.png" alt="item" style="width: 170px;")
    //-                                     figcaption 
    //-                                         p.title_product پادری 700 شانه گلبه ای
    //-                                         .tag_name 
    //-                                             p.tag 700 شانه 
    //-                                             p.tag ریز نقش
    //-                                             p.tag سفارشی 
    //-                                         p.price 2,750,000 تومان
    //-                                         button.btn.read_product(href="javascript:void;") مشاهده محصول

    //-                                 .discount 
    //-                                     p.offer 50%
    //-                         .item   
    //-                             figure.box_item
    //-                                 a(href="javascript:void;")
    //-                                     img(src="./src/images/carpet-model.png" alt="item" style="width: 170px;")
    //-                                     figcaption 
    //-                                         p.title_product پادری 700 شانه گلبه ای
    //-                                         .tag_name 
    //-                                             p.tag 700 شانه 
    //-                                             p.tag ریز نقش
    //-                                             p.tag سفارشی 
    //-                                         p.price 2,750,000 تومان
    //-                                         button.btn.read_product(href="javascript:void;") مشاهده محصول

    //-                                 .discount 
    //-                                     p.offer 50%

    //-                     .Blue_Box


    //- brands(5)

    section.honor
        //- .title 
        //-     h2.titles برندها
        .container-fluid 
            .row 
                .col-12
                .owl-carousel.owl-theme.slider_brands
                    .item
                        a(href="javascript:void(0)").box_per_brand 
                            img.img-fluid(src="./src/images/brand-1.png" alt="")
                    .item
                        a(href="javascript:void(0)").box_per_brand 
                            img.img-fluid(src="./src/images/brand-2.png" alt="")
                    .item
                        a(href="javascript:void(0)").box_per_brand 
                            img.img-fluid(src="./src/images/brand-3.png" alt="")
                    .item
                        a(href="javascript:void(0)").box_per_brand 
                            img.img-fluid(src="./src/images/brand-4.png" alt="")
                    .item
                        a(href="javascript:void(0)").box_per_brand 
                            img.img-fluid(src="./src/images/brand-1.png" alt="")
                    .item
                        a(href="javascript:void(0)").box_per_brand 
                            img.img-fluid(src="./src/images/brand-2.png" alt="")
                    .item
                        a(href="javascript:void(0)").box_per_brand 
                            img.img-fluid(src="./src/images/brand-3.png" alt="")
                    .item
                        a(href="javascript:void(0)").box_per_brand 
                            img.img-fluid(src="./src/images/brand-4.png" alt="")



    //- blog - content_ecducation

    //-  title_blog(3)
    .title_cat 
        h2.titles_cat وبلاگ

    //- blog
    section.blog
        .container-fluid.px-0 
            .Box_Style
                .row 
                    .col-12
                        .owl-carousel.owl-theme.blog_slider
                            .item 
                                figure.box_item
                                    img.mask-image(src="./src/images/img-blog.jpg" alt="")

                                    figcaption.item_caption 
                                        .tag_p.d-none.d-md-flex  
                                            a(href="javascript:void;").tag آموزشی
                                            a(href="javascript:void;").tag شستشو فرش
                                            a(href="javascript:void;").tag خرید فرش
                                            a(href="javascript:void;").tag مدل فرش
                                        .title_blog چگونه در انتخاب فرش دقت کنیم؟
                                        .discription انتخاب صحیح فرش یک امر ضروری برای خریداران فرش میباشد که میتواند امری تاثیر گذار در این زمینه باشد برای خواندن این مقاله به ادامه مطلب مراجعه کنید.
                                        a.btn.read_more ادامه مطلب
                                            i.fi-rs-arrow-small-left
                                    a.badge.badge-new جدید
                            .item 
                                figure.box_item
                                    img.mask-image(src="./src/images/img-blog.jpg" alt="")

                                    figcaption.item_caption 
                                        .tag_p.d-none.d-md-flex   
                                            a(href="javascript:void;").tag آموزشی
                                            a(href="javascript:void;").tag شستشو فرش
                                            a(href="javascript:void;").tag خرید فرش
                                            a(href="javascript:void;").tag مدل فرش
                                        .title_blog چگونه در انتخاب فرش دقت کنیم؟
                                        .discription انتخاب صحیح فرش یک امر ضروری برای خریداران فرش میباشد که میتواند امری تاثیر گذار در این زمینه باشد برای خواندن این مقاله به ادامه مطلب مراجعه کنید.
                                        a.btn.read_more ادامه مطلب
                                            i.fi-rs-arrow-small-left
                                    a.badge.badge-new جدید
                            .item 
                                figure.box_item
                                    img.mask-image(src="./src/images/img-blog.jpg" alt="")

                                    figcaption.item_caption 
                                        .tag_p.d-none.d-md-flex   
                                            a(href="javascript:void;").tag آموزشی
                                            a(href="javascript:void;").tag شستشو فرش
                                            a(href="javascript:void;").tag خرید فرش
                                            a(href="javascript:void;").tag مدل فرش
                                        .title_blog چگونه در انتخاب فرش دقت کنیم؟
                                        .discription انتخاب صحیح فرش یک امر ضروری برای خریداران فرش میباشد که میتواند امری تاثیر گذار در این زمینه باشد برای خواندن این مقاله به ادامه مطلب مراجعه کنید.
                                        a.btn.read_more ادامه مطلب
                                            i.fi-rs-arrow-small-left

                                    a.badge.badge-new جدید
                            .item 
                                figure.box_item
                                    img.mask-image(src="./src/images/img-blog.jpg" alt="")

                                    figcaption.item_caption 
                                        .tag_p.d-none.d-md-flex   
                                            a(href="javascript:void;").tag آموزشی
                                            a(href="javascript:void;").tag شستشو فرش
                                            a(href="javascript:void;").tag خرید فرش
                                            a(href="javascript:void;").tag مدل فرش
                                        .title_blog چگونه در انتخاب فرش دقت کنیم؟
                                        .discription انتخاب صحیح فرش یک امر ضروری برای خریداران فرش میباشد که میتواند امری تاثیر گذار در این زمینه باشد برای خواندن این مقاله به ادامه مطلب مراجعه کنید.
                                        a.btn.read_more ادامه مطلب
                                            i.fi-rs-arrow-small-left

                                    a.badge.badge-new جدید
                            .item 
                                figure.box_item
                                    img.mask-image(src="./src/images/img-blog.jpg" alt="")

                                    figcaption.item_caption 
                                        .tag_p.d-none.d-md-flex   
                                            a(href="javascript:void;").tag آموزشی
                                            a(href="javascript:void;").tag شستشو فرش
                                            a(href="javascript:void;").tag خرید فرش
                                            a(href="javascript:void;").tag مدل فرش
                                        .title_blog چگونه در انتخاب فرش دقت کنیم؟
                                        .discription انتخاب صحیح فرش یک امر ضروری برای خریداران فرش میباشد که میتواند امری تاثیر گذار در این زمینه باشد برای خواندن این مقاله به ادامه مطلب مراجعه کنید.
                                        a.btn.read_more ادامه مطلب
                                            i.fi-rs-arrow-small-left

                                    a.badge.badge-new جدید
                        .Blue_Box




