block footer
    footer.footer_page 
        .container-fluid 
            //- newsletter
            .row.newsletter.d-none.d-lg-flex 
                .col-xl-3.col-lg-3.col-12
                    .title_newsletter 

                        span.text عضویت در 
                        span.gold خبرنامه
                .col-xl-9.col-lg-9.col-12 
                    .form-group.box
                        input.form-control.form__submit(type="text" name="newsletter" placeholder="ایمیل خود را وارد کنید ....")
                        button.btn.form__submit(type="submit")  ارسال
                            i.fi-rs-paper-plane
            .row.section_row 
                .col-xl-4 
                    .section_1
                        .img_box 

                            img.intro_logo(src="./src/images/logo_company.png" alt="")
                        p.discription شرکت فرش قرمز تولید کننده انواع فرش ماشینی کلاسیک و مدرن با به روز ترین تکنولوژی جهانی و ناب ترین هنر ایرانی از سال 1382 کار خود را در قلب تولید فرش ایران کاشان شروع کرده این کارخانه 55 هکتار وسعت و 1100 نفر از متخصصان و جوانان ایرانی را در کادر خود داراست . مفتخریم که در این چند سال اخیر توانسته ایم با یاری پروردگار افتخارات زیادی را نصیب خود کنیم.امیدوارم کمک شایانی را به جامعه فرش و فرش دار کرده باشیم تا با یاری خدا قدم های پربرکت و شایانی را در این زمینه برداریم. امید است در سالهای باقی مانده توانسته باشیم توسعه ای شایان داده باشیم.




                .col-xl-4 
                    .section_2 
                        a.call_section(href="tel:03155550000")
                            .box_icon
                                i.fi-rs-headset
                            p.text_item   0000 5555 031
                        a.call_section(href="tel:03155550000")
                            .box_icon
                                i.fi-rs-headset
                            p.text_item   8877 555 0913 | 4566 652 0913
                        a.location_section(href="javascript:void(0)")
                            .box_icon
                                i.fi-rs-marker
                            p.text_item   تهران - جمال آباد - خیابان کاشانی مفرد
                        a.email_section(href="mailto:info@itsaco.ir")
                            .box_icon
                                i.fi-rs-envelope
                            p.text_item   info@itsaco.ir

                    .section_3.d-flex
                        a(href="javascript:void(0)").box_social 
                            i.fi-rs-paper-plane
                        a(href="javascript:void(0)").box_social 
                            i.fi-rs-globe
                        a(href="javascript:void(0)").box_social 
                            i.fi-rs-comment
                        a(href="javascript:void(0)").box_social 
                            i.fi-rs-world
                        a(href="javascript:void(0)").box_social 
                            i.fi-rs-diamond





                .col-xl-4 
                    .section_2_1
                        .queick_access  
                            .row 
                                ul.parent_ul
                                    a(href="javascript:void(0)") 
                                        li.item_quick خانه

                                    a(href="javascript:void(0)") 
                                        li.item_quick فروشگاه

                                    a(href="javascript:void(0)") 
                                        li.item_quick ویدیوها

                                    a(href="javascript:void(0)") 
                                        li.item_quick مقالات

                                ul.parent_ul 
                                    a(href="javascript:void(0)") 
                                        li.item_quick تست دکور

                                    a(href="javascript:void(0)") 
                                        li.item_quick سوالات متداول

                                    a(href="javascript:void(0)") 
                                        li.item_quick درباره ما

                                    a(href="javascript:void(0)") 
                                        li.item_quick تماس با ما


                    .row.brandss
                        .col-12 
                            .box_brand
                                a(href="javascript:void(0)") 
                                    img(src="./src/images/honor.png" alt="honor" width='120px')

        section#botom_bar 
            .container-fluid 
                .row 
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.col-12
                        .right_item
                            p.right کلیه حقوق این وب سایت متعلق به سایت فرش قرمز می باشد.
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.col-12
                        .left_item 
                            a(href="https://itsaco.ir")  طراحی و برنامه نویسی :    &nbsp;
                                span.gold    فناوری اطلاعات آیتیسا  